<div ng-controller="accountsCtrl as vm">

    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Accounts</div>

        <!-- List group -->
        <div class="list-group">
            <a ng-href="#/account/{{account.id}}" class="list-group-item" ng-repeat="account in vm.accounts">
                <h4 class="list-group-item-heading">{{account.name}}</h4>
                <p class="list-group-item-text">{{account.balance | currency}}</p>
            </a>
        </div>
    </div>

</div>